.profiler {
   margin: 0 auto;
   margin-top: 2rem;
   width: 50%;
   font-family: "Poppins", sans-serif;
   height: auto;
}

.profiler-container {
   width: 100%;
}

.profiler-container h1 {
   font-size: 2rem;
   text-align: center;
   font-weight: 600;
   text-transform: uppercase;
}

.profiler-container form div {
   margin-bottom: 0.8rem;
}

.name label,
.email label,
.password label,
.confirm-password label {
   display: block;
}

.name input,
.email input,
.password input,
.confirm-password input {
   border: 1px solid var(--primary-color);
   border-radius: 5px;
   padding: 8px 20px;
   width: 100%;
}

.name input::placeholder,
.email input::placeholder,
.password input::placeholder,
.confirm-password input::placeholder {
   text-transform: uppercase;
   font-size: 0.6rem;
   color: #cac8c8;
}

.forgot {
   display: block;
   color: var(--blue);
}

.login-btn {
   color: var(--blue);
}

.btn-profiler {
   margin: 0.5rem 0;
   width: 100%;
   background: var(--blue);
   text-align: center;
   padding: 10px 0;
   color: var(--secondary-color);
   font-weight: 600;
   cursor: pointer;
}

.enable {
   opacity: 1;
}

.disabled {
   opacity: 0.5 !important;
   cursor: not-allowed !important;
}

.error-reg {
   font-size: 0.8rem;
   color: var(--red-color);
}

.error-border {
   border: 1px solid var(--red-color) !important;
}

.no-error {
   border: 1px solid var(--primary-color) !important;
}

.password span {
   font-size: 0.7rem;
}
